.preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 999;
    opacity: 0.5;
    // visibility: visible;
    transition: 1s all;

    .loader {
        width: 75px;
        height: 75px;
        border: 8px solid #fff;
        border-radius: 50%;
        border-top-color: #1badda;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        animation: 1s spin infinite linear;
    }
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}