@import './styles/mixins';
@import './styles/variables';

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  @include vertical-list;
  min-height: 100vh;
  background-color: #f1f1f1;
  color: #000;
  font-family: 'Heebo', 'Mouse Memoirs', sans-serif;
  font-weight: 400;
}

main {
  position: relative;
  flex-grow: 1;
  padding: 10px;
}

.content {
  @include center-element;
}

.open-btn {
  margin: 10px;
}

.error__message-404 {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  top: 50%;
  transform: translate(0, -50%);
  font: 3em sans-serif;
}

.navbar {
  padding-left: 25px;
  padding-right: 25px;
  font-size: 18px;
}

.nav__item-name,
#collasible-nav-dropdown {
  color: #000;
}

.nav__item-name:hover,
#collasible-nav-dropdown:hover {
  text-decoration: underline;
}

.brand__name {
  margin: 0 20px;
}

.user-name__header {
  padding-right: 25px;
  font-size: large;
  font-weight: bold;
  text-align: center;
}

footer {
  height: 56px;
  text-align: center;
  padding: $middle-m-p;
}

form {
  display: flex;
  flex-direction: column;

  h1 {
    text-align: center;
    color: #777;
  }

  label {
    margin-top: 20px;
  }

  input {
    font-size: 1.2em;
  }

  .input__container-form {
    position: relative;
  }

  .taskDescr__textarea {
    width: 100%;
  }

  .error__message-form {
    position: absolute;
    right: 43px;
    bottom: 14px;
    background-color: #fff;
    padding: 0 4px;
    font-size: 14px;
    color: #ff0000;
  }
}

button {
  background: #1badda;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
  font-size: 1.2em;
}

.logout {
  border: solid 1px #777 ;
  border-radius: 5px;
  margin-right: 20px;
  margin-top: -5px;
  font-weight: bold;
}

.task-container {
  border: 2px solid #8a8a8a;
  margin-bottom: -2px;
}

.open-btn {
  min-width: 100px;
  margin-top: 20px;
}




